Library/
.vs/
build/
Temp/
Logs/
.idea/
ExportedObj/
Screenshots/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
Assets/tmp/
Assets/tmp.meta

ProjectSettings/ProjectVersion.txt
Assets/Plugins/Editor/JetBrains/Unity3DRider.cs.meta
Assets/Plugins/Editor/JetBrains/Unity3DRider.cs
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor.meta
.idea/.idea.netexperements/riderModule.iml
.idea/.idea.netexperements/.idea/workspace.xml
.idea/.idea.netexperements/.idea/vcs.xml
.idea/.idea.netexperements/.idea/modules.xml
.idea/.idea.netexperements/.idea/indexLayout.xml
.idea/.idea.netexperements/.idea/contentModel.xml
.idea/.idea.netexperements/.idea/codeStyles/codeStyleConfig.xml
.idea/.idea.shootergame/.idea/contentModel.xml
.idea/.idea.shootergame/.idea/indexLayout.xml
.idea/.idea.shootergame/.idea/modules.xml
.idea/.idea.shootergame/.idea/vcs.xml
.idea/.idea.shootergame/.idea/workspace.xml
.idea/.idea.shootergame/riderModule.iml
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
EditorConfigLis
UserSettings/Layouts/default-2021.dwlt
UserSettings/EditorUserSettings.asset
